@font-face {
    font-family: "Birmingham";
    src: url("../assets/fonts/Birmingham/Birmingham.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Birmingham";
    src: url("../assets/fonts/Birmingham/BirminghamBold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "BirminghamTitling";
    src: url("../assets/fonts/Birmingham/BirminghamTitlingElongated.ttf");
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;

    font-family: "Birmingham";
    line-height: 1.5;

    color: #FFFFFF;
    background-color: #000000;
    background-image: url("../assets/img/bgimage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;

    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

ul[class],
ol[class] {
    padding: 0;

    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

.additional_information {
    position: absolute;
    z-index: 20;

    padding: 20px;

    background-color: #000000B3;
    border-radius: 20px;
    color: white;
}

.description_ancientName {
    text-transform: uppercase;
    font-size: 20px;

    text-shadow: 2px 2px #6c0101, 2px 2px #8e0000;
    color: #ff2a04;
}

.description_stage {
    display: flex;
}

.description_image {
    width: 20px;
    margin-left: 5px;
}

.big_card_image {
    position: fixed;
    z-index: 2;
    top: calc(50vh - 40vh);
    left: calc(50vw - 31vh);

    height: 80vh;

    border-radius: 30px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.25);
}

.main {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    transition: all 0.3s ease;
}

.tip_text {
    margin-top: 20px;
    margin-bottom: 20px;

    text-align: center;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px #6c0101, 2px 2px #8e0000;

    color: #ff2a04;

}

.ancients {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ancient {
    width: 200px;
    height: 170px;
    margin-bottom: 30px;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

    opacity: 0.8;
    cursor: pointer;

    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}

.ancient:hover {
    opacity: 1;
}

.ancient_name {
    position: relative;
    top: 160px;

    font-size: 20px;
    text-shadow: 0 13.36px 8.896px #070000, 0 -2px 1px #850016;
    letter-spacing: -2px;
    text-align: center;

    color: #ff0000;
}

.wrapper {
    display: flex;

    justify-content: space-around;
}

.difficulty_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-left: 20px;
    height: 320px;
    width: 200px;
}

.difficulty_wrapper,
.start_wrapper,
.cards_wrapper,
.crosscheckList_wrapper,
.ancients_wrapper {
    padding: 10px;
    margin-bottom: 20px;

    background-color: #00000033;
    border-radius: 20px;

    
}

.difficulties {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 300px;
}

.difficulty {
    font-size: 20px;

    cursor: pointer;
    opacity: 0.6;
    color: #FFFFFF;
}

.difficulty:hover {
    opacity: 1;
}

.start_wrapper {
    display: flex;
    flex-direction: column;

    width: 200px;
}

.shadow {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}

.active {
    opacity: 1;

    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
    filter: none;
    filter: none;

    filter: drop-shadow(0 0 10px red);
}

.start_button {
    width: 70px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;

    background-image: url("../assets/img/favicon.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    cursor: pointer;

    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;

    transition: all 0.3s ease;
}

.start_button:hover {
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
    filter: none;
    filter: none;

    transition: all 0.3s ease;
}

.start_button:active {
    background-image: url("../assets/img/button_active.png");

    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
    filter: none;
    filter: none;

    transition: all 0.3s ease;
}

.message {
    position: relative;

    margin-left: auto;
    margin-right: auto;

    color: #FFFFFF;
}

.cardsInDeck {
    display: flex;
    justify-content: center;

    width: 1000px;
    height: 100px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.stage {
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
}

.blue_cards,
.green_cards,
.brown_cards {
    width: 60px;
    height: 60px;
    padding-left: 13px;

    font-size: 20px;
    color: #FFFFFF;

    border-radius: 15px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.cards_show {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.cover_image,
.card_image {
    width: 258px;
    height: 383px;
    margin-right: 30px;

    /* background-image: url('../assets/img/mythicCardBackground.png'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
    border-radius: 15px;


    cursor: pointer;
}

.cover_image {
    opacity: 0.8;
}

.cover_image:hover {
    opacity: 1;
}

.crosscheckList_wrapper {
    display: flex;
    flex-direction: column;
}

.check_button {
    width: 200px;
    height: 60px;
    margin-bottom: 20px;
    margin-top: 20px;

    font-size: 20px;

    border-radius: 10px;
    border: transparent;
    color: #FFFFFF;
    background: linear-gradient(to right, #00217b, #00046c);

    transition: all 0.3s ease-out;
    cursor: pointer;
}

.check_button:hover {
    border-radius: 40px;

    transition: all 0.3s ease-in;
}

.check_list {
    font-size: 20px;
    font-family: serif;
}

.hide {
    opacity: 0;
    visibility: hidden;
}